.categories-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 52px;
}

.section-title {
  margin-left: calc(100vw - 93vw);
  margin-bottom: 52px;
}

.category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category:last-child {
  margin-top: 30px;
}

.category span {
  margin-bottom: 11px;
}

.categories-wrapper a {
  color: black;
  margin-top: 10px;
}

.category > img {
  border-radius: 5px;
  width: 85%;
  max-width: 370px;
  height: 200px;
}

@media only screen and (min-width: 768px) {
  .categories-container {
    width: 65%;
  }

  .section-title {
    margin-left: calc(100vw - 95vw);
  }

  .categories-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories-wrapper a {
    margin: 20px;
  }
  .category:last-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .category > img {
    height: 130px;
  }
}

@media only screen and (min-width: 1800px) {
  .categories-container {
    width: 45%;
  }
}