/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.search-form {
  width: 100%;
  max-width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 50px auto;
}

.search-form input {
  width: 65%;
  max-width: 800px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: var(--veryLightGray);
  padding-left: 22px;
  outline: none;
}

.search-form > input::-webkit-input-placeholder {
  color: #5e5e5e;
}

.search-form > input::-moz-placeholder {
  color: #5e5e5e;
}

.search-form > input:-ms-input-placeholder {
  color: #5e5e5e;
}

.search-form > input::-ms-input-placeholder {
  color: #5e5e5e;
}

.search-form > input::placeholder {
  color: #5e5e5e;
}

.search-form button {
  width: 20%;
  max-width: 150px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: var(--lightBlue);
  color: white;
  outline: none;
}

@media only screen and (min-width: 1024px) {
  .search-form input {
    font-size: 16px;
  }

  .search-form button {
    font-size: 16px;
  }
}