* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  /** Claro **/
  --lightBlue: #025ceb;
  --lightGray: #c3c3c3;
  --veryLightGray: #e1e1e1;
  --lightBackground: #f3f3f3;

  /** Escuro **/
  --darkBlue: #0821d4;
  --darkBackground: #121212;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}